body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #222;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #222;
    padding: 10px;
}

.tab-button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    flex: 1;
    min-width: 120px;
}

.tab-button:hover {
    background-color: #666;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #222;
    margin-top: 10px;
}

.sub-tab-button {
    background-color: #555;
    border: none;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    cursor: pointer;
    justify-content: center
}

.sub-tab-button:hover {
    background-color: #777;
}

.sub-tab-content {
    display: none;
    padding: 10px;
    background-color: #333;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .tab-button {
        font-size: 14px;
        padding: 8px;
    }
}

.matterUpgrade {
    display: flex;
    align-items: center;
    justify-content: center; /* Center content inside the button */
    background-color: #444;
    border: solid black 1px;
    width: 70%;
    max-width: 90%; /* Fixed width */
    color: white;
    padding: 10px 15px;
    margin: 0 auto; /* Center the button itself */
    cursor: pointer;
}

.mu2 {
    display: none;
}

.mu2.visible {
    display: flex;
}

.mu3 {
    display: none;
}

.mu3.visible {
    display: flex;
}

.matterAnn {
    display: flexbox;
    align-items: center;
    justify-content: center; /* Center content inside the button */
    background-color: #444;
    border: solid black 1px;
    width: 70%;
    max-width: 90%; /* Fixed width */
    color: white;
    padding: 10px 15px;
    margin: 0 auto; /* Center the button itself */
    cursor: pointer;
}

#importExportField {
    align-items: center;
    justify-content: center;
    display: flexbox;
    width: 300px;
    height: 100px;
    resize: none;
    overflow: auto;
    max-width: 90%;
    margin: 0 auto;
}

#resetModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #444;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: solid black 1px;
}

#annText {
    white-space: normal; /* Разрешает перенос текста */
    word-wrap: break-word; /* Переносит длинные слова */
    width: 100%; /* Занимает всю доступную ширину */
}